version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: recipebook-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./server
    container_name: recipebook-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/recipebook
      - PORT=5000
    depends_on:
      - mongo

  frontend:
    build: ./client
    container_name: recipebook-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:
